body {
  font-family: "roc-grotesk", sans-serif;
  font-style: normal;
  background-color: #0B0B0B;
  margin: 0;

}
/* 

::-webkit-scrollbar {
    width: 0.8rem;
}


::-webkit-scrollbar-track {
    border-radius: 10px;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    border-style: solid;
    border-color: black;



}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border-right: 1.1pt;
    border-top: 2pt;
    border-bottom: 2pt;
    border-left: 2pt;
    border-style: solid;
    border-color: black;



}

::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0);
    border-radius: 10px;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    border-style: solid;
    border-color: black;

} */


/* 
body::-webkit-scrollbar {
  width: 12px;              
}

body::-webkit-scrollbar-track {
  background: #0B0B0B;      
}

body::-webkit-scrollbar-thumb {
  background-color: #0B0B0B;   
  border-radius: 10px;      
  border: 2px solid rgb(255, 255, 255); 
} */

::-webkit-scrollbar {
  width: 0.9rem;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background:  #0B0B0B;
   border-radius: 100vw;
  border: 0.10rem solid #ffffff;
}
::-webkit-scrollbar-thumb:hover{
  background:  #ffffff;
   border-radius: 100vw;
  border: 0.10rem solid #ffffff;
}

body::-webkit-scrollbar-track {
  background:#0B0B0B;
  border-radius: 100vw;
  margin-block: 0.5rem;
} 






.card {
  position: sticky;
  top: 5em;
  transform-origin: center top;
  border-radius: 8vh;
  border: none;



}

.card-deck-js {
  padding: 3rem 0 3rem 0;




}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .card {
    height: 70vh;


    /* Altura fija para iPads */
  }


  .card1 {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(0, 0, 0, 0.73)), url(img/GenerosLanding.png);
    background-size: cover;
    background-position: center;

  }

  .card2 {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(0, 0, 0, 0.73)), url(img/GenerosLanding.png);
    background-size: cover;
    background-position: center;

  }

  .card3 {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(0, 0, 0, 0.73)), url(img/GenerosLanding.png);
    background-size: cover;
    background-position: center;

  }

  .card h1 {
    font-size: 6vw;
    color: aliceblue;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    line-height: 4vw;


  }

  .card p {
    font-size: 4vw;
    color: aliceblue;
    font-family: 'DM Sans', sans-serif;
    font-weight: normal;
    line-height: 4vw;
    padding-top: 1vw;
    margin-bottom: 0;


  }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .card {
    height: 70vh;
    /* Altura fija para iPads */
  }

  .card h1 {
    font-size: 4.375vw;
    color: aliceblue;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    line-height: 4vw;


  }

  .card p {
    font-size: 2.1875vw;
    color: aliceblue;
    font-family: 'DM Sans', sans-serif;
    font-weight: normal;
    line-height: 2.1875vw;
    padding-top: 1vw;


  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .card {
    height: 30vh;
    /* Altura fija para iPads */
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .card {
    height: 80vh;
    /* Altura fija para iPads */
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .card {
    height: 80vh;
    /* Altura fija para iPads */
  }
}




.card-body {
  padding: 2rem;



}

.fotografia {
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 4vw;
}


.card1 {
  background-color: #1EA849;

}

.nose1 {
  background-image: url(img/GenerosLanding.png);


}

.card2 {
  background-color: #FF6F00;

}

.nose2 {
  background-image: url(img/GenerosLanding.png);


}

.card3 {
  background-color: #1874C1;

}

.coleccion {
  background-image: url(img/GenerosLanding.png);


}











/* amanda */

.principio {
  padding: 3%;
}

button {
  border: 2px solid #FF6F00;
  background-color: transparent;
  color: #FF6F00;
  padding: 5px 45px;
  border-radius: 30px;
  margin-top: 15px;
}

button:hover {
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari 3-8 */
  transform: scale(1.1);
  transition: transform .2s;
}

img.pantallas {
  max-width: 100%;
  margin-bottom: 40px;
}


.cookie {
  background-color: #30b867;
  position: fixed;
  border-radius: 30px;
  padding: 10px 20px;
  z-index: 99;
}

.cookie .txt {
  float: left;
  width: 80%;
  padding-top: 15px;
  padding-left: 5px;
}

.txt p {
  color: #F1F1F1;
}

.txt a {
  color: #F1F1F1;
}

.cookie .accept {
  background-color: #F1F1F1;
  color: #0B0B0B !important;
  border-radius: 32px;
  width: 100%;
  /* align-self: center; */
  font-size: 15px;
  margin-top: 0.5%;
  margin-bottom: 5px;
}

.gestionar {
  background-color: #0B0B0B;
  color: #F1F1F1 !important;
  border-radius: 32px;
  width: 100%;
  height: 40px;
  /* align-self: center; */
  font-size: 15px;
  margin-top: 0.5%;
  border: 0px;
}

.cookie .accept:hover {
  background-color: #f1f1f185;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  h1 {
    color: #F1F1F1;
    font-size: 11vw;
    text-align: left;
    line-height: 0.9em;
    font-family: "roc-grotesk", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  img.pantallas {
    max-width: 100%;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .txt p {
    font-size: 2.5vw;
  }

  .cookie {
    height: 220px;
    bottom: -15px;
  }

  .gestionar {
    width: 100%;
  }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  h1 {
    color: #F1F1F1;
    font-size: 8vw;
    text-align: left;
    line-height: 0.9em;
    font-family: "roc-grotesk", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  img.pantallas {
    max-width: 100%;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .cookie {
    right: 5%;
    width: 420px;
    height: 270px;
    bottom: 20px;
  }

}




/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  h1 {
    color: #F1F1F1;
    font-size: 8vw;
    text-align: left;
    line-height: 0.9em;
    font-family: "roc-grotesk", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  img.pantallas {
    max-width: 100%;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .cookie {
    width: 420px;
    height: 270px;
    bottom: 20px;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  h1 {
    color: #F1F1F1;
    font-size: 6vw;
    text-align: left;
    line-height: 0.9em;
    font-family: "roc-grotesk", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
}





/* amanda */