body {
  margin: 0;
  /* background-color: #0B0B0B; */


}

.card {
  position: sticky;
  top: 5em;
  transform-origin: center top;
  border-radius: 8vh;
  border: none;



}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .card {
    height: 30vh;
    /* Altura fija para iPads */
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .card {
    height: 80vh;
    /* Altura fija para iPads */
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .card {
    height: 80vh;
    /* Altura fija para iPads */
  }
}







.card h1 {
  font-size: 4.375vw;
  color: aliceblue;
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
  line-height: 4vw;


}

.card p {
  font-size: 2.1875vw;
  color: aliceblue;
  font-family: 'DM Sans', sans-serif;
  font-weight: normal;
  line-height: 2.1875vw;
  padding-top: 1vw;


}

.card-body {
  padding: 2rem;



}

.fotico {
  background-color: #201ea8;
  background-image: url(https://static.fundacion-affinity.org/cdn/farfuture/PVbbIC-0M9y4fPbbCsdvAD8bcjjtbFc0NSP3lRwlWcE/mtime:1643275542/sites/default/files/los-10-sonidos-principales-del-perro.jpg);
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 4vw;
}


.card1 {
  background-color: #1EA849;

}

.card2 {
  background-color: #FF6F00;

}

.card3 {
  background-color: #1874C1;

}
.cookie{
	width: 420px;
    height: 72px;
    background-color: #fff;
    position: fixed;
    bottom: 88px;
    border-radius: 10px;
	left: 5%;
	padding: 10px 20px;
  z-index: 99;
}

.cookie .txt{
	float: left;
    width: 65%;
}
.txt p{
	color:#1D2D35;
}



.cookie .accept {
    background-color: #40CC79;
    color: #fff !important;
    border-radius: 32px;
    padding: 3px 23px;
    /* align-self: center; */
    font-size: 19px;
    margin-top: 2.5%;	
    margin-left: 3%;

}
.cookie .accept:hover {
	background-color: #30b867;
}
